// Here you can add other styles
@import "vue-select/src/scss/vue-select.scss";

// style.scss 
@import '~sweetalert2/src/variables';
 
@import '~sweetalert2/src/sweetalert2';

.table td {
    max-width: 200px;
}

.btn-purple {
    color: #fff;
    background-color: $purple;
    border-color: $purple;

    &:hover{
        color: #fff;
        background-color: darken($purple, 10)
    }
}